<h2>All Merchants<%= @for_message %></h2>
<table class="index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Tag</th>
      <th>Transactions</th>
      <th>Total Spend</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
  <% @merchants.each do |merchant| %>
    <% tag = merchant.tag %>
    <tr class="row">
      <td class="cell">
        <%= merchant.id %>
      </td>
      <td class="cell">
        <%= merchant.name %>
      </td>
      <td class="cell">
        <a href="/tags/<%= tag.id %>"><span class="hover-underline">
          <%= tag.name %>
        </span></a>
      </td>
      <td class="cell">
        <%= merchant.transaction_count %>
      </td>
      <td class="cell">
        <%= merchant.print_money("spent") %>
      </td>
      <td class="cell">
        <a href="/merchants/<%= merchant.id %>"><span class="hover-underline">Show</span></a>
      </td>
    </tr>
  <% end if @merchants %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <a href="/merchants/new"><span class="hover-underline">
          New Merchant
        </span></a>
      </td>
    </tr>
  </tfoot>
</table>
