<h2>All Tags</h2>
<table class="index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th># of Merchants</th>
      <th># of Transactions</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
  <% @tags.each do |tag| %>
    <tr class="row">
      <td class="cell">
        <%= tag.id %>
      </td>
      <td class="cell">
        <%= tag.name %>
      </td>
      <td class="cell">
        <%= tag.merchant_count %>
      </td>
      <td class="cell">
        <%= tag.transaction_count %>
      </td>
      <td class="cell">
        <a href="/tags/<%= tag.id %>/edit"><span class="hover-underline">
          Edit
        </span></a>
      </td>
    </tr>
  <% end if @tags %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <a href="/tags/new"><span class="hover-underline">
          New Tag
        </span></a>
      </td>
    </tr>
  </tfoot>
</table>
