<h2>All Transactions<%= @user ? " for " + @user.full_name : "" %></h2>
<table class="index-table">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Date</th>
      <th>Time</th>
      <th>Value</th>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
  <% if @transactions then @transactions.each do |transaction| %>
    <% merchant = transaction.merchant %>
    <% tag = merchant.tag %>
    <tr class="row">
      <!-- <td class="cell">
        <%= transaction.id %>
      </td> -->
      <td class="cell">
        <%= transaction.print_date %>
      </td>
      <td class="cell">
        <%= transaction.print_time %>
      </td>
      <td class="cell">
        <%= transaction.print_value %>
      </td>
      <td class="cell">
        <a href="/merchants/<%= merchant.id %>"><span class="hover-underline">
          <%= merchant.name %>
        </span></a>
      </td>
      <td class="cell">
        <a href="/tags/<%= tag.id %>"><span class="hover-underline">
          <%= tag.name %>
        </span></a>
      </td>
      <td class="cell">
        <a href="/transactions/<%= transaction.id %>"><span class="hover-underline">Show</span></a>
      </td>
    </tr>
  <% end else %>
    <tr>
      <td colspan="6">
        No transactions to show!
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <a href="/transactions/new<%= @user ? '/' + @user.id.to_s : '' %>">
          <span class="hover-underline">New Transaction</span>
        </a>
      </td>
    </tr>
  </tfoot>
</table>
