<h2>User #<%= @user.id %></h2>
<div class="user-details">
  <div class="cell cell-50">
    <span class="field-name">First name:</span>
    <%= @user.first_name %>
  </div>
  <div class="cell cell-50">
    <span class="field-name">Last name:</span>
    <%= @user.last_name %>
  </div>
  <div class="cell cell-50">
    <span class="field-name">Budget Cap:</span>
    <%= @user.budget_cap_present %>
  </div>
  <div class="cell cell-50">
    <span class="field-name">Spent:</span>
    <!-- @user.spent -->
  </div>
  <a class="cell cell-100" id="transactions-link" href="/users/<%= @user.id %>/transactions">
    See Transactions
  </a>
  <a class="cell cell-100" href="/users/<%= @user.id %>/edit">
    Edit User
  </a>
  <form action="/users/<%= @user.id %>/delete" method="POST" id="delete-form">
    <input type="hidden" value="Delete User">
  </form>
  <a class="cell cell-100 delete-button" href="#" onclick="document.getElementById('delete-form').submit();">
    Delete User
  </a>
</div>
