<h2>All Users</h2>
<table class="index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Budget Cap</th>
      <th>Budget Left</th>
      <th># of Transactions</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr class="row">
      <td class="cell">
        <%= user.id %>
      </td>
      <td class="cell">
        <%= user.full_name %>
      </td>
      <td class="cell">
        <%= user.budget_cap_present %>
      </td>
      <td class="cell">
        <%# user.budget_left %>
      </td>
      <td class="cell">
        <%= user.transaction_count %>
      </td>
      <td class="cell">
        <a href="/users/<%= user.id %>"><span class="hover-underline">
          Show
        </span></a>
      </td>
    </tr>
  <% end if @users %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <a href="/users/new"><span class="hover-underline">
          New User
        </span></a>
      </td>
    </tr>
  </tfoot>
</table>
