<h2>Edit User #<%= @user.id %></h2>
<form id="edit-user" action="/users/<%= @user.id %>" method="post">
  <label for="first-name">First name:</label>
  <input value="<%= @user.first_name %>" type="text" id="first-name" name="first_name">

  <label for="last-name">Last name:</label>
  <input value="<%= @user.last_name %>" type="text" id="last-name" name="last_name">

  <label for="budget-cap">Budget cap:</label>
  <input value="<%= @user.budget_cap %>" type="number" id="budget-cap" name="budget_cap">

  <input type="submit" name="add" value="Edit User">
</form>
