<h2>Edit User #<%= @user.id %></h2>
<div class="show">
  <form id="edit-user" action="/users/<%= @user.id %>" method="post">
    <table class="show-details">
      <tr>
        <th><label for="first-name">First name</label></th>
        <td><input value="<%= @user.first_name %>" type="text" id="first-name" name="first_name"></td>
      </tr>
      <tr>
        <th><label for="last-name">Last name</label></th>
        <td><input value="<%= @user.last_name %>" type="text" id="last-name" name="last_name"></td>
      </tr>
      <tr>
        <th><label for="budget-cap">Budget Cap</label></th>
        <td><input value="<%= @user.budget_cap %>" type="number" id="budget-cap" name="budget_cap"></td>
      </tr>
      <input type="hidden" name="edit-user" value="Edit User">
    </table>
  </form>
  <div class="show-buttons">
    <a href="#" onclick="document.getElementById('edit-user').submit();">
      Update User
    </a>
  </div>
</div>
