<h2>All Users</h2>
<table class="transaction-index">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Budget Cap</th>
      <th>Budget Left</th>
      <th># of Transactions</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr class="row">
      <td class="cell">
        <%= user.id %>
      </td>
      <td class="cell">
        <%= user.full_name %>
      </td>
      <td class="cell">
        <%= user.budget_cap_present %>
      </td>
      <td class="cell">
        <%# user.budget_left %>
      </td>
      <td class="cell">
        <%= user.transaction_count %>
      </td>
      <td class="cell">
        <a href="/users/<%= user.id %>">Show</a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
